{{define "faq"}}
{{template "header" .}}
  <div id="main">
    <div class="container">
      <h1>FAQ</h1>

      <h2>Why is voting important?</h2>
      <p>It’s your democratic right and responsibility!</p>
      <p>Voting really can make a difference. In many states, the presidential election is decided by a few percentage points. Florida in 2012, for example, was decided by less than 75,000 votes. Vote totals matter: a president who wins by a large margin has more influence and can get more done.</p>
      <p>There are many other important offices up for election: one third of all senators, all of the representatives in congress, and at least twelve governors are being decided. Many ballot initiatives will be decided.</p>

      <h2>But one vote (mine) won’t really make a difference, will it?</h2>
      <p>Tell that to the people of Iowa. Clinton-Sanders was down to the wire, a dead heat. Cruz won (and beat Trump) at least partly because his strong ground game increased turnout.</p>

      <h2>Why do I need a reminder to vote?</h2>
      <p>Voter turnout in the United States is low: less than 60% of eligible voters voted in 2012, and less than 40% voted in 2014. In particular, millennials don’t vote: despite being politically aware, less than 20% of 18-29 year-olds voted in 2014.</p>

      <h2>But I always vote!</h2>
      <p>That’s not really a question, but in any case, get all of your friends to sign up. Chances are some of them aren’t as conscientious as you are.</p>

      <h2>Why text messages?</h2>
      <p>Studies have shown that getting text message reminders makes people much more likely to do something they already want to do. A single text message increased voter turnout by 3%. Studies with a pattern of reminders like iWillVote.us have shown much greater response.</p>

      <h2>What studies?</h2>
      <p>Glad you asked!</p>

      <p>A single text message produces a 3% increase in voter turnout: Malhotra, Neil, Melissa R. Michelson, Todd Rogers, and Ali Adam Valenzuela. "<a href="https://dash.harvard.edu/bitstream/handle/1/10471523/Rogers-TextMessages.pdf?sequence=1">Text Messages as Mobilization Tools: The Conditional Effect of Habitual Voting and Election Salience.</a>"</p>

      <p>A confirming study showing a similar increase from a single text: Dale and Strauss: “<a href="https://irevolution.files.wordpress.com/2009/09/apsj-2009.pdf">Don’t Forget to Vote: Text Message Reminders as a Mobilization Tool</a>”</p>

      <p>A medical trial with a reminder mechanism that is more similar to iWillVote.us: <a href="http://jama.jamanetwork.com/article.aspx?articleid=2442937">Effect of Lifestyle-Focused Text Messaging on Risk Factor Modification in Patients With Coronary Heart Disease: A Randomized Clinical Trial</a></p>

      <h2>How many reminders will I receive?</h2>
      <p>Only one or two per week. A couple extra in the two weeks before the primary/election. One or two extra on the day before and day of the election. We’ll also send you one text message after the primary and election to ask if you voted. Telling us whether you voted will help us make iWillVote.us more effective, and increase voter turnout even more.</p>

      <p>Remember, you can cancel anytime, although we hope you won’t want to. If there’s something we can do to improve iWillVote.us or the text messages we send, let us know by email.</p>

      <h2>Does iWillVote.us cost anything?</h2>
      <p>iWillVote.us is free. It is our contribution to the election process. Most people have unlimited text messages, but normal text messaging rates apply -- if you your plan isn’t unlimited and you go over your limit, your phone provider might charge you to receive the reminders.</p>

      <h2>Does iWillVote.us support any particular candidate or party?</h2>
      <p>Each of the people associated with iWillVote.us has their own opinions and preferences, but the service itself is nonpartisan and doesn't advocate for any candidate or party. The main page doesn't represent any particular candidate, and each candidate has their own dedicated signup page.</p>

      <h2>What if I want to stop the reminders?</h2>
      <p>You can unsubscribe and stop the reminders by submitting your number on our <a href="/unsubscribe">Unsubscribe Page</a>.</p>

      <pre>
      Stop
      [your phone number]
      </pre>

      <p>So for example, like this:</p>

      <pre>
      Stop
      888-555-1212
      </pre>

      <p>We’ll send you one last text to confirm that you want to stop receiving reminders. Click the link in that text, and you will stop receiving reminders.</p>

      <h2>Who is behind iWillVote.us?</h2>
      <p>Geoff Canyon and Mike Flynn created iWillVote.us. Geoff is a product manager who came up with the idea after watching a Healthcare Triage video on using text message reminders to help people improve their health. Mike is an engineer who builds interesting stuff. We both want every eligible person to vote. For more about us, search Google -- we’re easy to find.</p>

      <h2>How do you pay for iWillVote.us?</h2>
      <p>iWillVote.us is self-funded. Depending on how many people sign up, it won’t be cheap.</p>
    </div>
  </div>
{{template "footer"}}
{{end}}