{{define "footer"}}
  <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          &copy; Copyright 2016 <a href="/">I Will Vote</a> All Rights Reserved
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
</body>
{{end}}