{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <div id="header">
    <nav class="navbar">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">i Will Vote</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right buttonbin">
            <li class="{{if eq .Active "index"}}active{{end}}">
              <a class="btn btn-default" href="/">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidates <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="btn btn-default" href="#">Action</a></li>
                <li><a class="btn btn-default" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="{{if eq .Active "faq"}}active{{end}}"><a class="btn btn-default" href="/faq">FAQ</a></li>
            <li class="{{if eq .Active "terms"}}active{{end}}"><a class="btn btn-default" href="/terms">Terms</a></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
{{end}}