@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700);

body {
  background: #113b98 url('/static/img/main_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #8f0018;
}

#header {
  background-image: url('/static/img/header_bg.png');
  color: white;
  padding: 15px 0px 0px 0px;
}

#header .navbar-brand {
  font-family: 'Palanquin Dark', sans-serif;
  padding: 0px;
  font-size: 36px;
  color: white;
  text-decoration: none;
}

#header .navbar-brand img {
  height: 55px;
  margin-top: -10px;
}

#header .buttonbin a {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}

#header .buttonbin li a {
  border: 1px solid transparent;
}

#header .buttonbin li a:hover,
#header .buttonbin li.active a {
  border: 1px solid white;
  border-radius: 5px;
  background: none;
}

#header ul.dropdown-menu li a {
  color: blue;
}

#header ul.dropdown-menu {
  border-radius: 5px;
}

#header ul.dropdown-menu li a:hover {

}

#header .nav .open>a, .nav .open>a:focus,
#header .nav .open>a:hover {
  border: 1px solid white;
  border-radius: 5px;
  background: none;
}

#header .icon-bar {
  background-color: white;
}

#main {
  color: white;
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 100px 0px;
}

#main .greeting {
  text-align: center;
  text-shadow: 2px 2px #333;
  font-size: 30px;
}

#main .greeting h2 {
  text-transform: uppercase;
  font-size: 60px;
}

#main .greeting span {
  margin-right: 30px;
  text-shadow: none;
  font-size: 22px;
  font-weight: bold;
}

#main .formbox {
  background-color: #d6dce0;
  border-radius: 5px;
  padding: 15px;
}

#main .formbox h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #8f0018;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

#main .formbox label {
  display: none;
}

#main .formbox .submitbox {
  text-align: center;
  margin: 10px 0px 30px 0px;
}

#main .formbox .submitbox button {
  background-color: #8f0018;
  color: white;
  text-transform: uppercase;
  width: 50%;
  font-size: 30px;
}

#main .formbox .toscheck {
  color: #333;
  font-size: 18px;
}

#main .formbox .toscheck a {
  color: #333;
  text-decoration: underline;
}

#main .formbox .toscheck.has-error,
#main .formbox .toscheck.has-error a {
  color: #990000;
}

#main .formbox .sharebtns {
  margin: 0px 0px 30px 0px;
}

#main .formbox .fb-like {
  position: relative;
  bottom: 5px;
}

#main .formbox .reddit {
  position: relative;
  bottom: 7px;
}

#main .hero {
  display: none;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center;
  background-size: cover;
  min-height: 425px;
}

#main .hero img {
  width: 400px;
}

#main .sharebtns {
  text-align: center;
}

#main .sharebtns .fb {
  margin-bottom: 10px;
}

#main .sharebtns .tw {
  background: #00aced;
  margin-bottom: 10px;
}

#footer {
  background-color: #8f0018;
  color: #aaaaaa;
  padding: 20px 0px 20px 0px;
  font-style: italic;
  border-top-color: #333;
  text-align: center;
}

#footer a {
  color: white;
}

@media (min-width: 990px) {
  #main .hero { display: block; }
}

@media (max-width: 990px) {
  #header .navbar-brand { margin-left: 10px; }
  #main .formbox { margin: 0px 10px 0px 10px; z-index: 5; position: relative; }
  .container { position: relative; }
  #main .hero {
    display: block;
    position: absolute;
    top: 0px;
    right: -100px;
    width: 300px;
    height: 300px;
    min-height: initial;
    border-radius: 100%;
    z-index: 2;
    opacity: 0.7;
  }
  #main .greeting {
    z-index: 5;
    position: relative;
  }
}

@media (max-width: 766px) {
  #header ul.dropdown-menu li a { color: white; }
}